{% extends "Layouts/layout.html" %}
{% block content %}

<!-- Register -->

<main class="login-body" data-vide-bg="../static/assets/img/login-bg.mp4">
    <!-- Login Admin -->
    <form class="form-default" action=" " method="POST">
        
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
            </div>
            <h2>Virtual Party !!</h2>
            {{ form.hidden_tag() }}
            <div class="form-input">
                <label for="name"> Address</label>
                {{ form.Email(size=64) }}<br>
            {% for error in form.Email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            
            <div class="form-input">
                <label for="Title">Party name</label>
                {{ form.Title }}<br>
                {% for error in form.Title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="form-input">
                <label for="Title">Party date</label>
                {{ form.EDate }}<br>
                {% for error in form.EDate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            
            <div class="form-input">
                <label for="Title">Party Time</label>
                {{ form.Time }}<br>
                {% for error in form.Time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="form-input">
                <label for="Title">Meet/Zoom link</label>
                {{ form.Meet }}<br>
                {% for error in form.Meet.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            
            <div class="form-input pt-30">
                {{ form.submit() }}
            </div>
            <!-- Forget Password -->
            <a href="/join" class="Join">Join a spooky party</a>
        </div>
    </form>
    <!-- /end login form -->
</main>
{% endblock %}
