.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../img/image4.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 285px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Eater;
  font-size: 6rem;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 0;
}

.u-section-1 .u-image-2 {
  width: 505px;
  height: 212px;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 270px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 170px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 143px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("../img/ewscripps.brightspotcdn.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-family: Chewy;
  margin: 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-2 .u-text-1 {
    width: 699px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 {
  min-height: 943px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 521px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 100px;
}

.u-section-3 .u-text-1 {
  font-family: "Berkshire Swash";
  font-size: 2.75rem;
  margin: 75px 100px 0 0;
}

.u-section-3 .u-text-2 {
  font-family: "Berkshire Swash";
  font-size: 1.625rem;
  margin: 34px 70px 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("../img/pexelsphoto212410.jpeg");
  background-position: 50% 50%;
  min-height: 521px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: url("../img/pexelsphoto214334.jpeg");
  background-position: 50% 50%;
  min-height: 422px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 422px;
  background-image: url("../img/Halloween.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 313px;
  height: 290px;
  margin: -632px calc(((100% - 1140px) / 2) + 388px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 843px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 111px;
  }

  .u-section-3 .u-image-1 {
    min-height: 422px;
  }

  .u-section-3 .u-image-4 {
    width: 157px;
    margin-top: -23px;
    margin-right: -49px;
    margin-bottom: -65px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 646px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-3 .u-image-1 {
    min-height: 323px;
  }

  .u-section-3 .u-image-2 {
    min-height: 323px;
  }

  .u-section-3 .u-image-3 {
    min-height: 323px;
  }

  .u-section-3 .u-image-4 {
    margin-bottom: -113px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1838px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-image-1 {
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 497px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-bottom: -245px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1141px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 305px;
  }

  .u-section-3 .u-image-2 {
    min-height: 305px;
  }

  .u-section-3 .u-image-3 {
    min-height: 313px;
  }
}.u-section-4 {
  min-height: 540px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 540px;
  background-image: url("../img/Halloween-Background.gif");
  background-position: 50% 100%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  width: 396px;
  height: 320px;
  margin: -197px 422px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: Eater;
  font-size: 1.875rem;
  margin: 0 469px 0 317px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 456px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 445px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -161px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -36px;
    margin-right: 369px;
    margin-left: 373px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 363px;
  }

  .u-section-4 .u-image-1 {
    min-height: 341px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -125px;
    margin-right: 324px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -72px;
    margin-right: 259px;
    margin-left: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 515px;
  }

  .u-section-4 .u-image-1 {
    min-height: 256px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 144px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 169px;
    margin-left: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 346px;
  }

  .u-section-4 .u-image-1 {
    min-height: 161px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 275px;
    margin-top: -161px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 135px;
  }
}